.grey {
    color: #455a64;
}
.white {
    color: #fff;
}

.red{
    color:red;
}

.success {
    background-color: #627428;
    color: #fff;
}

.danger {
    background-color: red;
    color: #fff !important;
}

.download {
    background-color: white;
    color: #000;
}